/*------------------------------------*\
    #Menu
\*------------------------------------*/
.header {
	.navbar-collapse {
		padding-right: 0;
		padding-left: 0;
	}

	.navbar {
		bottom: 0;
		padding: 0;
		border-radius: 0;
		min-height: 100px;
		border: none;
		z-index: 1030;

		&.affix {
			top: 0;
		}

		.logo {
			max-width: 100%;
			height: auto;
			line-height: 140px;
		}

	}
}

.navbar-nav {
	padding-left: 100px;

	>li {
		margin-right: 42px;

		&:last-child {
			margin-right: 0;
		}

		>a {
			font-size: 16px;
			text-transform: capitalize;
			font-weight: 400;
			line-height: 140px;
			color: $color-body;
			padding: 0;
			letter-spacing: -0.2px;

			&:hover {
				color: $color-theme;
			}
		}
	}
}