/*------------------------------------*\
    #Testimonial
\*------------------------------------*/
.testimonial-panel {
	padding-top: 95px;
	background: $color-white;
	padding: 65px 40px 40px 40px;
	@include rounded(4px);
	@include prefix(transition, all 400ms linear, moz webkit ms o);

	&:before {
		position: absolute;
		top: 40px;
		left: 40px;
		width: 60px;
		height: 52px;
		background: url('../images/icons/quotes.svg');
		content: "";
	}



	.testimonial-body {
		p {
			font-size: 18px;
			line-height: 1.9;
			font-weight: 400;
			margin-bottom: 15px;
		}
	}

	.testimonial-author {
		h5 {
			color: $color-theme;
			font-size: 14px;
			font-weight: 500;
			line-height: 1;
			margin-bottom: 0;
			text-transform: capitalize;
		}
	}

	&:hover {
		background: $color-theme;

		&:before {
			background: url('../images/icons/quotes2.svg');
		}


		.testimonial-body {
			p {
				color: rgba(255, 255, 255, .9);
			}
		}

		.testimonial-author {
			h5 {
				color: $color-white;
			}
		}

	}

}

.carousel-dots {
	.owl-dots {
		text-align: center;
		margin-top: 70px;

		.owl-dot {
			height: 8px;
			width: 8px;
			margin: 0 3px;

			&:active,
			&:focus {
				outline: none;
			}

			span {
				height: 8px;
				width: 8px;
				border-radius: 50%;
				background-color: #e0e0e0;
				border: none;
				display: block;
				cursor: pointer;
			}

			&.active {
				span {
					background-color: $color-theme;
				}
			}
		}
	}
}