$color-theme: #0070cd;
$color-hover: darken($color-theme, 10%);
$color-body: #999999;
$color-heading: #444444;
$color-secondary: #e0e0e0;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #f7fafc;

$baseline: 20px;

$line-height-base: 1.5;
$line-height-content: 1.8;
$font-body: 'Poppins',
sans-serif;
$font-heading:'Poppins',
sans-serif;
$font-secondary:'Poppins',
sans-serif;
$decoration-base: none;

$font-size-base: 14px;
$font-size-h1: 55px;
$font-size-h2: 36px;
$font-size-h3: 20px;
$font-size-h4: 18px;
$font-size-h5: 16px;
$font-size-h6: 14px;


$background-base: no-repeat center center fixed;
$background-size-base: cover;


$awesome: fontawesome;


$extraSmall: "only screen and (min-width : 320px)and (max-width : 767px)";
$small: "only screen and (min-width : 768px) and (max-width : 991px)";
$medium: "only screen and (min-width : 992px) and (max-width : 1200px)";