@charset "UTF-8";
/*------------------------------------*\
    #Features
\*------------------------------------*/
.feature-panel {
  position: relative;
}
.feature-panel .feature-icon {
  color: red;
  font-size: 55px;
  line-height: 1;
  margin-bottom: 35px;
}
.feature-panel .feature-img {
  width: 70px;
  height: 70px;
  line-height: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 40px;
  text-align: center;
}
.feature-panel .feature-content h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 19px;
}
.feature-panel .feature-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
}
.feature-panel .feature-content ul {
  padding: 0;
  margin: 24px 0 0 0;
  list-style: none;
}
.feature-panel .feature-content ul li {
  padding-left: 26px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin-bottom: 15px;
}
.feature-panel .feature-content ul li:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  font-family: fontawesome;
  font-size: 14px;
  line-height: 26px;
  color: red;
}

.feature-center {
  text-align: center;
}
.feature-center .feature-img {
  margin-right: auto;
  margin-left: auto;
}

.feature-2 .feature-panel {
  position: relative;
  padding-top: 100px;
}
.feature-2 .feature-panel .feature-content h3 {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 24px;
}
.feature-2 .feature-panel .feature-content p {
  font-size: 16px;
  margin-bottom: 12px;
}

.feature-3 .feature-panel {
  position: relative;
  margin-bottom: 40px;
  padding: 40px;
  text-align: center;
}
.feature-3 .feature-panel:hover {
  -moz-box-shadow: 0 10px 40px 0 rgba(32, 62, 84, 0.08);
  -webkit-box-shadow: 0 10px 40px 0 rgba(32, 62, 84, 0.08);
  box-shadow: 0 10px 40px 0 rgba(32, 62, 84, 0.08);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.feature-3 .feature-panel .feature-img {
  width: 80px;
  height: 80px;
  line-height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto 33px auto;
  text-align: center;
  background: #eff8ff;
}
.feature-3 .feature-panel .feature-content h3 {
  font-size: 18px;
  margin-bottom: 20px;
}
.feature-3 .feature-panel .feature-content p {
  font-size: 14px;
}

.feature-left .feature-panel {
  margin-bottom: 40px;
}
.feature-left .feature-panel:last-of-type {
  margin-bottom: 0;
}
.feature-left .feature-panel .feature-img {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 40px;
  width: auto;
}
.feature-left .feature-panel .feature-content {
  padding-left: 70px;
}
.feature-left .feature-panel .feature-content h3 {
  font-size: 18px;
  margin-bottom: 15px;
}
.feature-left .feature-panel .feature-content p {
  font-size: 14px;
  max-width: 300px;
}

.img-shadow {
  -moz-box-shadow: 0 10px 25px 0 rgba(32, 62, 84, 0.2);
  -webkit-box-shadow: 0 10px 25px 0 rgba(32, 62, 84, 0.2);
  box-shadow: 0 10px 25px 0 rgba(32, 62, 84, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.hr-bar {
  border-top-color: #e0e0e0;
  margin: 0;
}


/*------------------------------------*\
    #Footer
\*------------------------------------*/
/* Parallax Effect */
#wrapperParallax {
  position: relative;
  z-index: 1060;
  min-height: 100vh;
}

#footerParallax {
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 767px) {
  #wrapperParallax {
    margin-bottom: 0 !important;
  }

  #footerParallax {
    position: relative;
  }
}
.footer {
  background-color: #ffffff;
  padding-top: 0;
  padding-bottom: 0;
}
.footer .footer-top {
  padding-top: 100px;
  padding-bottom: 90px;
}
.footer .widget-info-box .info-img {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto 15px auto;
  display: block;
  background-color: #eff8ff;
}
.footer .widget-info-box h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.footer .widget-info-box p {
  margin-bottom: 0;
}
.footer .footer-bar hr {
  border-top-color: #e0e0e0;
  margin: 0;
}
.footer .footer-bottom {
  padding: 30px 0;
}
.footer .footer-bottom .footer-copyright {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-transform: capitalize;
}
.footer .footer-bottom .footer-social {
  text-align: right;
}
.footer .footer-bottom .footer-social a {
  font-size: 14px;
  color: #999999;
  margin-right: 20px;
  display: inline-block;
}
.footer .footer-bottom .footer-social a:hover {
  color: red;
}
.footer .footer-bottom .footer-social a:last-of-type {
  margin-right: 0;
}
